<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="sqlsrv"
           connectionString="Data Source=PC206667\SQLEXPRESS;Initial Catalog=shop;Connect Timeout=60;Persist Security Info=True;User ID=test;Password=Password1!"
           providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>